h1 {
	font-family: 'EB Garamond', serif;
	font-weight: 1000;
	font-size: 40px;
	padding: 20px 20px 20px 20px;
	color: #ffff00;
	text-shadow: 1px 2px purple, 0 -1px purple, 2px 1px purple, 0 -1px purple;
}

h2 {
	font-family: 'EB Garamond', serif;
	font-style: ;
	font-size: 32px;
	padding: 20px 20px 20px 20px;
}

p {
	font-family: 'Rasa', serif;
	font-size: 18px;
	line-height: 22px;
	padding: 0px 65px 0px 65px;
}

#background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;                      
  background-repeat: no-repeat;
  background-position: center center;  
  background-image: url('../images/DC5.png');
  filter: blur(4px);
}

#content{
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  max-width: 960px;
  height: 1800px;
  background-color: #000000ab;
  margin: 0 auto;
  z-index: 9999;
  color: white;
}



#instructions {
	padding: 10px 20px 10px 20px;
}

.numbox {

}

#target-number {

}

#your-number {

}

#button-box {
	padding: 10px 20px 10px 20px;
}

.button {
	width: 20%;
	margin: 5px;
}





/*Media Screens*/

/*Tablet*/
@media screen and (max-width: 959px) {
	.button {
		width: 35%;
		margin: 5px;
	}
	#content {
		margin-left: 20px;
		margin-right: 20px;
	}

}



/*Google Fonts*/
/*font-family: 'Rasa', serif;
font-family: 'EB Garamond', serif;
font-family: 'Domine', serif;*/
